body{
  background-color: #111827;
}
.header{
  width:100%; position: absolute; z-index: 100; display: flex; 
  justify-content: space-between; padding: 30px 30px 0 40px;
  .header-right{
    width: 530px;
  }
}
.main{
  position: relative; width: 100%;
}
.inner-wrap{
  width:1524px; position: relative; margin: 0 auto;
  >.row{
    width: 100%; display: flex; justify-content: space-between;
    align-items: center; 
  }
}
.header-nav{
  padding-top: 150px; width:1165px;
}
.hero-wrap{
  width:100%; display: flex; padding: 70px 0;
  align-items: center;
  .hero-notice {
    width: 480px; height: 100px; right:0; position: absolute;
  }
}
.hero-copy-wrap{
  width:100%; max-width: 1000px; height: 100px;
  >h1{
    color:#8BEAFF; font-size: 48px; font-weight: bold;
  }
  .blink-line{
    display: block; width:16px; height:100%; border-right: 1px solid rgba(255,255,255,0.5);
  }
}
.hero-info-wrap{
  width:100%; height: 210px; display: flex; align-items: center;
  border: 1px solid rgba(255,255,255,0.1);
  border-right: transparent; border-left: transparent;
  .info-full{
    width: 1520px;
  }
}

/*----------------*/

.banner-wrap{
  position: relative; width: 480px; height: 390px; 
  overflow: hidden; border-radius: 20px;
  background-color: #1E2B47; margin-top:32px; margin-bottom:40px;
  .swiper-pagination{
    position: absolute; bottom: 26px; height: 8px; z-index: 200;
    width:100%; display: flex; justify-content: center;
  }
  .swiper-pagination-bullet{
    display: block; border-radius: 8px; width:8px; height:8px;
    background-color: rgba(255,255,255,0.3);
    margin: 0 3px;
    &.swiper-pagination-bullet-active{
      width: 24px;
      background-color: rgba(255,255,255,1.0);
    }
  }
  .swiper-slide{
    img{ max-width: 100%;}
  }
}
.card-2{
  width: 1000px; height: 390px;
}
.card-3{
  max-width: 100%;
}
.shape{
  display: block; position: absolute; z-index: -1;
  &.shape-1{
    top: 180px; right: 300px;
    animation: rotate2 10s; animation-iteration-count: infinite;
    animation-fill-mode: forwards; animation-timing-function: linear;
    >svg{
      path{
        fill:#11203e;
      }
    }
  }
}
@keyframes rotate1 {
  0%{ transform: rotate3D(1, 0, 0, 0) scale(2.0);}
  50%{ transform: rotate3D(1, 0, 0, 180deg) scale(2.0);}
  100%{ transform: rotate3D(1, 0, 0, 360deg) scale(2.0);}
}
@keyframes rotate2 {
  0%{ transform: rotate(0deg) scale(2.75);}
  50%{ transform: rotate(180deg) scale(2.0);}
  100%{ transform: rotate(360deg) scale(2.75);}
} 

/*----------------*/

.hero-copy-row{
  position: relative; width:1000px; color:#4067B2;
  .row-wrap{
    position: relative; display: block; width:100%; padding: 0; margin: 16px 0;
    overflow: hidden; height: 48px;
    >h1{
      position: absolute; font-size: 48px; font-weight:800; height: 48px;
      line-height: 1em; padding: 0; margin:0;
      animation: textReveal1 5s; animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes textReveal1 {
  0%{ transform: translateY(100%);}
  10%{ transform: translateY(0);}
  90%{ transform: translateY(0);}
  100%{ transform: translateY(-100%);}
}