
.preview-wrap{
  position: relative; width:100%; min-width:1400px; height:100vh; min-height: 700px;
  background-color: var(--gray-100);
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  .desc-info{
    font-size:18px; font-weight: bold; width:100%; max-width: 1300px; display: flex;
    margin:0; justify-content: space-between; padding: 40px 0;
    >a{
      display: block; padding: 8px 20px; border: 1px solid gray; border-radius: 6px;
      font-size: 14px;
    }
  }
}

.preview-swiper{
  width: 100%; height:100%; overflow: hidden;
  .swiper-slide{
    position: relative; width:100%; height: 100%; overflow: hidden;
    margin: auto; text-align: center;
    &.long{
      height:1200px;
    }
    .slide-inner{
      position: relative; width:calc(100% - 140px); height: 100%; overflow-y: scroll; margin: 0 auto;
      >img{ 
        max-width: 1200px; position: relative; margin: 0 auto; 
        &.small-cut{
          max-width: 900px; height: auto;
        }
      }
    }
    
  }
  .swiper-button-next, .swiper-button-prev{
    width: 40px; height: 40px; 
    position: absolute; padding:16px;
  }
}